spring:
  datasource:
    url: jdbc:mysql://localhost:3306/library_db
    username: library_user
    password: ChangeMe123!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
